<tr id="task-{{ task.id }}-edit-form">
    <td colspan="3">
        <form 
            method="POST" 
            hx-post="{% url 'edit_task' task.id %}" 
            hx-target="#task-{{ task.id }}-edit-form" 
            hx-swap="outerHTML">
            {% csrf_token %}
            {{ form.title }}
            <button type="submit">{{ button_label }}</button>
            <button type="button" 
                    hx-get="{% url 'get_task_row' task.id %}" 
                    hx-target="#task-{{ task.id }}-edit-form" 
                    hx-swap="outerHTML">
                Cancel
            </button>
        </form>
    </td>
</tr>
